/***************************************************************************************
    Creative Background CSS
***************************************************************************************/

#backdrop {
    position: absolute;
    left: 0;
    z-index: -3;

}