.left-tab-container {
    background-color: var(--left-container-background);
    float: left;
    width: 300px;
    min-width: 150px;

    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.back-button {
    padding: 15px;
    font-size: 20px;
    background-color: var(--back-button-background);
    color: white;
    margin-bottom: 10px;
    padding-left: 10%;
    cursor: pointer;
}
.back-button:hover {
    background-color:var(--back-button-hover);
}
.page-title {
    cursor: pointer;
    color: white;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.title-button {
    background-color: var(--title-button-background);
    color: var(--title-button-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background 0.4s;
    -moz-transition: background 0.4s ease;
    -ms-transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
}
.title-button:hover, .title-button.active, .content-display-button:hover, .content-display-button.active {
    background-color: var(--title-button-hover);
}
.accordion-content {
    padding-right: 3%;
    padding-left: 3%;
    margin-bottom: 10px;
    max-height: 0;
    overflow: hidden;
    background-color: #272727;
    border-bottom: 3px solid #272727;
    
    transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -ms-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;
}
.content-display-button {
    background-color: var(--title-button-background);
    color: var(--title-button-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background 0.4s;
    -moz-transition: background 0.4s ease;
    -ms-transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
}