:root {
    --body-background: #2a2a2a;
    --Profile-Snapshot-Background: #FF7900;
    --Profile-Snapshot-Title: rgb(250, 235, 220);
    --Profile-Snapshot-Subtitle: #ecd9c7;

    --button-background: #000000;
    --Project-fade:#7e7e00;
    --Resume-fade:#720000;
    --Info-fade:#004c4e;
    --Project-Reveal:#cccc17;
    --Resume-Reveal: #c91b1b;
    --Info-Reveal: #269fa3;
    --Project-Reveal-Text: white;
    --Resume-Reveal-Text: white;
    --Info-Reveal-Text: white;

    --label-min-width: 150px;
    --image-min-width: 200px;
    --image-min-height: 300px;
    --profile-min-width: 400px;
    --button-min-width: div(var(--profile-min-width), 2.2);
}

/***************************************************************************************
    Main Body CSS
***************************************************************************************/
html, body {
    z-index: 4;
    margin: 0;
    padding: 0;
  }
body {
    background-color:var(--body-background);
    text-align: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
a {
    margin:none;
    border:none;
    color: transparent;
    text-decoration: none;
}
.bottom {
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: gray;
}

/***************************************************************************************
    Profile Snapshot CSS
***************************************************************************************/
.Profile-Snapshot {
    display: inline-flex;
    background-image: linear-gradient(50deg, var(--Profile-Snapshot-Background), #ceb029);
    margin: auto;
    width: var(--profile-min-width);
    min-width: var(--profile-min-width);
    transition: width 2s ease, text-shadow 3s ease-in;
    -moz-transition: width 2s ease, text-shadow 3s ease-in;
    -ms-transition: width 2s ease, text-shadow 3s ease-in;
    -o-transition: width 2s ease, text-shadow 3s ease-in;
    -webkit-transition: width 2s ease, text-shadow 3s ease-in;
}
.Profile-Snapshot-Image-Container {
    border: 8px solid white;
    overflow: hidden;
    min-width: var(--image-min-width);
    min-height: var(--image-min-height);
    max-width: var(--image-min-width);
    max-height: var(--image-min-height);
    
    width: 30%;
    float: left;
}
.Profile-Snapshot-Image {
    width:var(--image-min-width);
    height: var(--image-min-height);
    background-image: url("../img/headshot.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Profile-Snapshot-label {
    width: 60%;
    margin:auto;
    float: left;
    min-width: var(--label-min-width);
    background-image:none;
    display:table-column;
    transition: color 3s ease;
    -moz-transition: color 3s ease;
    -ms-transition: color 3s ease;
    -o-transition: color 3s ease;
    -webkit-transition: color 3s ease;
}

.Profile-Snapshot-label#name {
    width: 80%;
    margin-left: 10%;
    font-size: 50px;
    text-align: center;
    min-width: var(--label-min-width);
    color: transparent;
    background-image:none;
}
.Profile-Snapshot-label#subtitle {
    width: 80%;
    margin-left: 10%;
    background-image:none;
    min-width: var(--label-min-width);
    color: transparent;
    font-size: 20px;
    margin: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/**************************************************************************************
    Basis for large button div link CSS
***************************************************************************************/
.Link-Container {
    min-width: var(--button-min-width);
    display: inline-block;
    width: 25%;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
}
.Link-Cover {
    width: 100%;
    
    text-align:center;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 10px;

    transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -ms-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    -webkit-transition: height 0.3s ease-out;
}
.Link-Reveal {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    margin: 0;
    
    transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -ms-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    -webkit-transition: height 0.3s ease-out;
}
/***************************************************************************************
    Project Divs
***************************************************************************************/
.Link-Container#Project {
    background-image: radial-gradient(var(--button-background), var(--Project-fade));
}
.Link-Cover#Project-span {
    background-image: url("../img/project.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.Link-Reveal#Project-Reveal {
    background-color: var(--Project-Reveal);
    color: var(--Project-Reveal-Text);
}
/***************************************************************************************
    Resume Divs
***************************************************************************************/
.Link-Container#Resume {
    background-image: radial-gradient(var(--button-background), var(--Resume-fade));
}
.Link-Cover#Resume-span {
    background-image: url("../img/document.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.Link-Reveal#Resume-Reveal {
    background-color: var(--Resume-Reveal);
    color: var(--Resume-Reveal-Text);
}
/***************************************************************************************
    Info Divs
***************************************************************************************/
.Link-Container#Info {
    background-image: radial-gradient(var(--button-background), var(--Info-fade));
}
.Link-Cover#Info-span {
    background-image: url("../img/info.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.Link-Reveal#Info-Reveal {
    background-color: var(--Info-Reveal);
    color: var(--Info-Reveal-Text);
}