:root {

}
.accordion-title {
    border: none;

}
.accordion-content {
    max-height: 0;

    overflow: hidden;
    transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -ms-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;
}