:root {
    --body-background: #2a2a2a;

    --back-button-background:hsl(34, 99%, 45%);
    --back-button-hover:rgb(206, 117, 0);

    --left-container-background:hsl(0, 0%, 22%);
    --left-container-border-color:white;

    --title-button-background:#444;
    --title-button-color:white;
    --title-button-hover:#222;
}
body, html {
    position: relative;
    margin: 0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:var(--body-background);
    overflow: hidden;
}
a {
    position: relative;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.content {
    position: absolute;
    right: 0px;
    color: #b8b8b8;
    display: none;
    padding:none;
    margin: none;
    max-width: 80%;
    min-width: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
.content-title {
    text-indent: 0px;
    position: relative;
    color: hsl(0, 0%, 87%);
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
}
.content-subtitle {
    text-indent: 0px;
    position: relative;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: hsl(0, 0%, 81%);
}
.content-body {
    position: relative;
    text-indent: 50px;
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 10%;
    font-size: 20px;
    margin-bottom: 50px;
}
.content-body a, .content-body a:visited  {
    color: orange;
}
.content-body a:hover {
    color: red;
}
.content-vid {
    text-indent: 0px;
    position: relative;
    background-color: #161616;
    border: 5px solid #020202;
    display: block;
    float: right;
    margin: 15px;
    padding: 10px;
    max-width: 560px;
}
.content-img-container {
    position: relative;
    background-color: #161616;
    border: 5px solid #020202;
    display: block;
    float: right;
    margin: 15px;
    padding: 10px;
    max-width: 562px;
}
.content-img {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid white;
    float: right;
    display: block;
    margin: 30px;
}
.content-img#dev {
    background-image: url('../img/wow_this_is_a_picture_of_me_developing_this_site.png');
}
.content-img#multide {
    background-image: url('../img/multide_logo.png');
}
.content-img#jar_dro {
    background-image: url('../img/drone/jar_dro.gif');
}
.content-img#flygif {
    background-image: url('../img/drone/flygif.gif');
}
.content-img#first_drone {
    background-image: url('../img/drone/first_drone.jpg');
}
.content-img#banking {
    background-image: url('../img/drone/banking.jpg');
}
img {
    max-height: 100%;
    max-width: 100%;
}