$color-white: white;

.image-tile {
  justify-content: center;
  margin: 1rem;
  display: block;
  max-width: 300px;
  max-height: 200px;

  & a {
    color: $color-white;
    display: flex;
    justify-content: center;
    width: 300px;
    max-height: 200px;
    border-radius: 5px;

    &:hover {
      box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    }

    &:hover .image-hover-data {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5);

      transition: all 0s;
    }

    & .image-hover-data {
      border-radius: 5px;
      position: absolute;

      height: 200px;
      width: 300px;

      max-height: 200px;
      max-width: 300px;
      overflow: wrap;

      transition: all 0.2s;
      opacity: 0;

      & h1 {
        font-weight: 700;
        font-size: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 0.5rem;
      }

      & p {
        font-weight: 300;
        font-size: 0.9rem;
        margin-top: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  & img {
    max-width: 300px;
    height: auto;
    max-height: 200px;

    transition: all 0.2s;
    opacity: 1;

    border-radius: 5px;
  }
}
