@import url('../../../styles.scss');

$max-any-dimension: 225px;
$animation-duration: 0.5s;
$box-shadow-color: var(--highlight-color);

.tile {
  border: none;
  border-radius: 6px;
  margin: 0.5rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  padding: 0;

  background-color: transparent;
}

.tile__image {
  border-radius: 5px;

  max-width: $max-any-dimension;
  max-height: $max-any-dimension;

  opacity: 0;
  transition: visibility $animation-duration, opacity $animation-duration linear;

  &:hover {
    -webkit-box-shadow: 0 0 10px $box-shadow-color;
    box-shadow: 0 0 10px $box-shadow-color;
  }
}

.tile-hidden {
  visibility: hidden;
  opacity: 0;
}

.tile-visible {
  visibility: visible;
  opacity: 1;
}

.tile__loader {
  width: $max-any-dimension;
  height: $max-any-dimension;
  transition: visibility $animation-duration, opacity $animation-duration linear;
}
