@import url('../../../styles.scss');

$max-any-dimension: 225px;
$animation-duration: 0.5s;
$box-shadow-color: var(--highlight-color);

.tile {
  border-radius: 5px;
  margin: 0.5rem;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;

  max-width: $max-any-dimension;

  transition: width $animation-duration, height $animation-duration ease-in-out;
}

.tile__image {
  border-radius: 5px;
  margin: auto;

  max-width: $max-any-dimension;
  max-height: $max-any-dimension;

  opacity: 0;
  transition: visibility 0s, opacity $animation-duration ease-in;

  &:hover {
    -webkit-box-shadow: 0 0 10px $box-shadow-color;
    box-shadow: 0 0 10px $box-shadow-color;
  }
}

.tile-hidden {
  opacity: 0;
  visibility: hidden;
}

.tile-visible {
  opacity: 1;
  visibility: visible;
}

.tile__loader {
  display: block;
  width: $max-any-dimension;
  height: $max-any-dimension;
  transition: visibility 0s, opacity $animation-duration ease-in;

  &.tile-hidden {
    width: 0;
    height: 0;
  }
}
