{
  "semi": true,
  "singleQuote": true,
  "proseWrap": "never",
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.rc", "*.html"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
