{
  "semi": true,
  "singleQuote": false,
  "proseWrap": "never",
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.json", "*.rc"],
      "options": {
        "parser": "json",
        "printWidth": 240
      }
    }
  ]
}
