:root {
    --body-background: #2a2a2a;
    --Profile-Snapshot-Background: #FF7900;
    --Profile-Snapshot-Title: rgb(250, 235, 220);
    --Profile-Snapshot-Subtitle: #ecd9c7;
    --Project-Reveal:#cccc17;
    --Resume-Reveal: #c91b1b;
    --Info-Reveal: #269fa3;
    --Project-Reveal-Text: white;
    --Resume-Reveal-Text: white;
    --Info-Reveal-Text: white;

    --label-min-width: 150px;
    --image-min-width: 250px;
    --image-min-height: 350px;
    --profile-min-width: add(var(--label-min-width), var(--image-min-width));
    --button-min-width: sub(var(--profile-min-width), 50);
}

/***************************************************************************************
    Main Body CSS
***************************************************************************************/
body {
    background-color:var(--body-background);
    text-align: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
a {
    margin:none;
    border:none;
    color: transparent;
    text-decoration: none;
}
.bottom {
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: gray;
}

/***************************************************************************************
    Profile Snapshot CSS
***************************************************************************************/
.Profile-Snapshot {
    display: inline-flex;
    background-image: linear-gradient(50deg, var(--Profile-Snapshot-Background), #ceb029);
    margin: auto;
    width: 50%;
    min-width: 410px;
    text-shadow: 1px 1px var(--body-background);
}
.Profile-Snapshot-Image-Container {
    border: 8px solid white;
    overflow: hidden;
    min-width: var(--image-min-width);
    min-height: var(--image-min-height);
}
.Profile-Snapshot-Image {
    width: 250px;
    height: 350px;
    background-image: url("img/headshot.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Profile-Snapshot#label {
    width: 60%;
    min-width: var(--label-min-width);
    background-image:none;
    display:table-column;
}
.Profile-Snapshot#name {
    background-image:none;
    min-width: var(--label-min-width);
    font-size: 50px;
    margin: none;
    color: var(--Profile-Snapshot-Title);
}
.Profile-Snapshot#subtitle {
    background-image:none;
    min-width: var(--label-min-width);
    color: var(--Profile-Snapshot-Subtitle);
    font-size: 20px;
    margin: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}
/**************************************************************************************
    Icon Link CSS
***************************************************************************************/

.Icon-Link {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
    mix-blend-mode: overlay;
    transition: filter 0.2s ease;
}
.Icon-Link:hover {
    filter: brightness(150%);
}

.Icon-Link#git {
    border-radius: 50%;
    background-image: url("img/github.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.Icon-Link#git:hover {filter:invert(75%);}

.Icon-Link#linkedin {
    background-image: url("img/linkedin_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
.Icon-Link#gmail {
    background-image: url("img/gmail.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

/**************************************************************************************
    Basis for large button div link CSS
***************************************************************************************/
.Link-Container {
    min-width: var(--button-min-width);
    display: inline-block;
    background-color: darkslategray;
    width: 25%;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
}
.Link-Cover {
    width: 100%;
    
    text-align:center;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 10px;

    transition: height 0.3s ease-out;
}
.Link-Reveal {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    margin: 0;
    transition: height 0.3s ease-out;
}
/***************************************************************************************
    Project Divs
***************************************************************************************/
.Link-Cover#Project-span {
    background-image: url("img/project.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.Link-Reveal#Project-Reveal {
    background-color: var(--Project-Reveal);
    color: var(--Project-Reveal-Text);
}
/***************************************************************************************
    Resume Divs
***************************************************************************************/
.Link-Cover#Resume-span {
    background-image: url("img/document.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.Link-Reveal#Resume-Reveal {
    background-color: var(--Resume-Reveal);
    color: var(--Resume-Reveal-Text);
}
/***************************************************************************************
    Info Divs
***************************************************************************************/
.Link-Cover#Info-span {
    background-image: url("img/info.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.Link-Reveal#Info-Reveal {
    background-color: var(--Info-Reveal);
    color: var(--Info-Reveal-Text);
}

/***************************************************************************************
    Creative Background CSS
***************************************************************************************/

#backdrop {
    position: absolute;
    z-index: -1;
}

.snowflake {
    position: absolute;
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: -webkit-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -moz-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -ms-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
}