<backdrop [backdrop]="bgAnimation"></backdrop>
@if (!shouldHide) {
<div #container class="newtonsfractal-container">
  <div class="temp-header">This page is also under construction.</div>
  <div class="content-container">
    <div class="blurb">
      <div>
        Can you see the WebGL Backdrop?
        <br />
        <div class="monospace">
          Browser WebGL:
          <div class="data">
            {{ this.isWebGlEnabled ? 'enabled' : 'disabled' }}
          </div>
        </div>
      </div>
    </div>
    <div class="blurb">
      <div>
        Backdrop Status:
        <br />
        <div class="monospace">
          <table>
            <tr>
              <td>Iterations:</td>
              <td>
                <div class="data">{{ this.bgAnimation.iterations }}</div>
              </td>
              <td>
                <input type="button" value="<" (click)="this.decrementIterationCount()" />
              </td>

              <td></td>
              <td>
                <input type="button" value=">" (click)="this.incrementIterationCount()" />
              </td>

              <td></td>
            </tr>

            <tr>
              <td>Iteration Limit:</td>
              <td>
                <div class="data">{{ this.bgAnimation.MAX_ITERATIONS }}</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="hide-text-btn" (click)="this.shouldHide = true">Hide Text</div>
</div>
}
