@import url('../../styles.scss');

$color-white: white;
$color-black: black;

.projects {
  color: $color-white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 10vh;
  justify-content: center;
  width: 60%;
}

.projects__gallery {
  z-index: 1;
  margin-top: 5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media only screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
