<div class="projects">
  <x-backdrop [backdrop]="bgAnimation" [fullscreen]="true"></x-backdrop>
  <div class="projects__gallery">
    @for(project of projects; track project.routerLink) {
    <a class="projects__gallery__item" [routerLink]="project.routerLink">
      <x-backdrop [backdrop]="project.backdrop"></x-backdrop>
      <div class="projects__gallery__item__hover">
        <div class="projects__gallery__item__hover-content">
          {{ project.labelText }}
        </div>
      </div>
    </a>
    }
  </div>
</div>
<router-outlet></router-outlet>
