@import url('../../styles.scss');

$color-white: white;
$color-black: black;

.projects-component-container {
  z-index: 1;
  position: relative;

  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: auto;
}

.temp-header {
  font-size: 3rem;
  font-weight: 800;
  margin: 5rem;
}

.content-container {
  background-color: var(--secondary-color);
  padding: 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blurb {
  margin: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.monospace {
  font-size: 1.5rem;
  padding: .6rem;
  margin: .5rem;
  margin-bottom: 1rem;
  background-color: rgb(48, 48, 48);
  color: rgb(102, 194, 211);
  border-style: outset;
  border-radius: .3rem;
  border-color: rgb(19, 19, 19);
  font-family: monospace, monospace;

  & .data {
    display: inline;
    color: rgb(187, 86, 68);
  }
}

.hide-text-btn {
  cursor: pointer;
  background-color: var(--secondary-color);
  font-size: 2rem;
  padding: 1rem 0rem 1rem 0rem;
  display: flex;
  justify-content: center;
  width: 20rem;
  margin: auto;
  user-select: none;


  &:hover,
  &:active {
    background-color: var(--tertiary-color);
  }
}