<div class="component-container">
  <div class="content-container">
    <div class="editor-container">
      <div #editor class="editor"></div>
      <div class="editor-controls">
        <div class="control button" (click)="tryShaderUpdate()">
          <h1>Run</h1>
          <i>Ctrl + S</i>
        </div>
        <div class="control"></div>
        <div class="control">
          <x-dropdown-link-selector
            [dropdownText]="'Load Example Shader'"
            [items]="defaultShaderLinks"
          ></x-dropdown-link-selector>
        </div>
      </div>
    </div>
    <div class="canvas-container">
      <backdrop class="canvas" [backdrop]="bgAnimation" [isServingAsBackdrop]="false"></backdrop>
      @if(compilationErrors) {
      <div class="compilation-errors">
        <h3>A compilation error has occurred!</h3>
        <br />
        <h3>{{ compilationErrors }}</h3>
      </div>
      }
    </div>
  </div>
</div>
