@import url('../../../../styles.scss');

$color-white: white;
$color-black: black;

.component-container {
  color: $color-white;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5vh;
  justify-content: center;
  width: 85%;
  height: 95vh;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;

  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.editor-container {
  width: 50%;
  height: 100%;

  @media only screen and (max-width: 1200px) {
    height: 50%;
    width: 100%;
  }
}

.editor-container {
  & .editor {
    width: 100%;
    height: 85%;
  }

  & .editor-controls {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;

    & .control {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: var(--highlight-color);
      flex-grow: 1;
    }

    & .button {
      background-color: rgb(31, 31, 31);
      border-width: 1rem;
      border-style: outset;
      border-color: rgb(34, 34, 34);
      border-radius: 0.25rem;
      flex-direction: column;
      justify-content: center;
      display: flex;
      cursor: pointer;
      user-select: none;

      &:active {
        border-style: inset;
      }

      & h1 {
        margin: 0;
        font-size: 2rem;
      }
    }
  }
}

.canvas-container {
  width: 50%;
  height: 100%;

  @media only screen and (max-width: 1200px) {
    height: 50%;
    width: 100%;
  }
}

.canvas-container {
  position: relative;
  display: flex;
  justify-content: center;

  & .canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  & .compilation-errors {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    & h3 {
      white-space: pre-line;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 100;
      font-size: 1rem;
      margin: 1rem;
    }
  }
}
