<div class="component-container">
  <div class="content-container">
    <div class="editor-container">
      <div #editor class="editor"></div>
      <div class="editor-controls">
        <button class="control" (click)="tryShaderUpdate()">
          Run
          <br />
          Ctrl + S
        </button>
        <div class="control"></div>
        <select #defaultShaderSelect class="control" name="shader">
          <option *ngFor="let shader of defaultShaders">{{shader.name}}</option>
        </select>
        <button class="control" (click)="resetCodeToSelectedDefaultShader()">Load Selected Shader</button>
      </div>
    </div>
    <div class="canvas-container">
      <backdrop class="canvas" [backdrop]="bgAnimation" [isServingAsBackdrop]="false"></backdrop>
      <div *ngIf="compilationErrors" class="compilation-errors">
        <h3>A compilation error has occurred!</h3>
        <br />
        <h3>{{compilationErrors}}</h3>
      </div>
    </div>
  </div>
</div>