<div class="fragmentwriter">
  <div class="fragmentwriter__editor">
    @defer {
    <ngx-monaco-editor
      class="fragmentwriter__editor__monaco"
      [insideNg]="true"
      [options]="options"
      [model]="options.model!"
      (onInit)="onMonacoInit($event)"
    ></ngx-monaco-editor>
    } @placeholder {
    <div class="fragmentwriter__editor__monaco">
      <x-skeleton-loader [loadingMessage]="'Loading Monaco Editor...'"></x-skeleton-loader>
    </div>
    }
    <div class="fragmentwriter__editor__controls">
      <div class="control button" (click)="tryShaderUpdate()">
        <h1>Run</h1>
        <i>Ctrl + S</i>
      </div>
      <div class="control">
        <x-dropdown-link-selector
          [dropdownText]="'Load Example Shader'"
          [items]="defaultShaderLinks"
        ></x-dropdown-link-selector>
      </div>
    </div>
  </div>
  <div class="fragmentwriter__canvas">
    <backdrop
      class="fragmentwriter__canvas__backdrop"
      [backdrop]="bgAnimation"
      [isServingAsBackdrop]="false"
    ></backdrop>
    @if(compilationErrors) {
    <div class="fragmentwriter__canvas__overlay">
      <h3>A compilation error has occurred!</h3>
      <br />
      <h3>{{ compilationErrors }}</h3>
    </div>
    }
  </div>
</div>
