.container {
    color: white;
    width: 1240px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
}

.container a {
    margin: 5px;
    cursor: pointer;
}

.container img {
    width: 300px;
    height: auto;
}