@import url('../../styles.scss');

.gallery {
  position: relative;
  color: var(--highlight-color);

  padding-top: 3vh;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 75%;
  margin-bottom: 10rem;
}

.gallery__dropdown {
  z-index: 2;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}

.gallery__images {
  margin: auto;
  margin-top: 5rem;

  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
}

.gallery__images__item {
  display: flex;
  justify-content: center;
  margin: auto;
}
