@import url('../../styles.scss');

.gallery {
  position: relative;
  color: var(--highlight-color);
  width: 80%;
  padding-top: 10vh;
  margin: auto;
  margin-bottom: 10rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 600px;
}

.gallery__dropdown {
  z-index: 2;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}

.gallery__images {
  z-index: 1;
  margin: auto;
  margin-top: 5rem;

  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
}

.gallery__images__tile {
  display: flex;
  justify-content: center;
  margin: auto;
}
