<x-backdrop
  [backdrop]="bgAnimation"
  [shouldPauseAnimation]="isModalOpen"
  [fullscreen]="true"
></x-backdrop>
<div class="gallery">
  <x-banner [variant]="'basic'">
    <p style="font-size: 1rem; margin: 1rem">
      Some images are very large. Even if the image displays, the zoom tools may be jumpy while
      everything finishes loading
    </p>
  </x-banner>

  <div class="gallery__dropdown">
    <x-dropdown-link-selector
      [placeholderText]="'Select Folder'"
      [items]="imageFolderLinks()"
    ></x-dropdown-link-selector>
  </div>

  @if (imageTileDataSet() && currentImageFolder) {
  <div class="gallery__images">
    @for (image of imageTileDataSet().get(currentImageFolder); track image.img_src) {
    <x-image-tile class="gallery__images__item" [imageTileData]="image"></x-image-tile>
    }
  </div>
  }

  <x-image-viewer-modal
    #imageViewerModal
    [imageSource]="currentImageSourceUrl"
    (onOpen)="isModalOpen = true"
    (onClose)="isModalOpen = false"
  ></x-image-viewer-modal>
</div>
