$color-white: white;

.container {
  display: grid;
  justify-content: center;
  margin: 0.5rem;

  & a {
    color: $color-white;
    display: flex;
    justify-content: center;

    height: 200px;
    width: 300px;

    max-height: 200px;
    max-width: 300px;
    border-radius: 5px;

    &:hover {
      box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    }

    &:hover .hover-data {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }

    & .hover-data {
      border-radius: 5px;
      position: absolute;

      height: 200px;
      width: 300px;

      max-height: 200px;
      max-width: 300px;
      overflow: wrap;

      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      transition: all .2s;
      opacity: 0;

      & h1 {
        font-weight: 500;
        font-size: 25px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
      }
    }
  }
}