@import url('../../../styles.scss');

$logo-primary: var(--highlight-color);
$logo-secondary: var(--secondary-color);
$logo-text-highlight: var(--primary-color);

$icon-color: var(--highlight-color);
$icon-color-hover: white;

$background-color: transparent;
//$background-color: transparent;

$header-size: 4.5vw;
$min-header-size: 4rem;

.header-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: $header-size;
  min-width: $min-header-size;
  height: 100vh;

  background-color: $background-color;

  display: flex;
  align-items: flex-start;
  justify-content: flex;
  flex-direction: column;

  user-select: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.website-logo-container {
  width: 100%;
  position: relative;

  color: $logo-primary;
  font-weight: 600;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: default;

  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  padding-bottom: 5%;
}

.nav-link-container {
  width: 100%;
  position: relative;

  display: flex;
  flex-grow: 6;
  align-items: center;

  justify-content: space-evenly;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav-link {
  width: 100%;
  height: auto;

  &--home {
    color: #fa0000;
  }

  &--projects {
    color: #fac000;
  }

  &--gallery {
    color: #630091;
  }

  &--sourcecode {
    color: #108d00;
  }

  &--github {
    color: #000;
  }

  &--linkedin {
    color: #2d76b0;
  }


  & .nav-svg {
    width: 100%;
    height: auto;

    & .nav-group {
      &__icon {
        fill: $icon-color;
        transition: all .45s;
      }

      &__inner-circle {
        fill: transparent;
        transform-origin: 50% 50%;
        transform: scale(.8);
        transition: all .45s;
      }
    }

    &:hover,
    &:active,
    &:focus {
      & .nav-group {

        &__icon {
          fill: $icon-color-hover;
          transition: all .2s;
        }

        &__inner-circle {
          fill: currentColor;
          transform: scale(1.1);
          transition: all .2s;
        }
      }
    }
  }
}

.website-logo-inner-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;

  & .website-logo {
    z-index: 1;
    transition: all .45s;
  }

  & svg {
    width: 100%;
    height: auto;

    z-index: 0;
    position: absolute;
    transform: scale(1.1);
    transform-origin: 50% 50%;
    transition: all .45s;

    & .outer-circle {
      transition: all .45s;
      fill: $logo-secondary;
    }
  }

  &:hover,
  &:active,
  &:focus {
    & .website-logo {
      color: $logo-text-highlight;
      transition: all .45s;
    }

    & svg {
      transition: all .45s;
      transform: scale(2);

      & .outer-circle {
        transition: all .45s;
        fill: $logo-primary;
      }
    }
  }
}