$color-white: #fff9f4;
$color-black: #1b120a;

$color-orange: rgb(255, 115, 0);
$color-dark-orange: rgb(177, 80, 0);
$header-size: 5rem;

.header-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: $header-size;
  height: 100%;

  background-color: $color-dark-orange;

  display: flex;
  align-items: flex-start;
  justify-content: flex;
  flex-direction: column;

  user-select: none;

  font-weight: 600;
  font-size: 40px;
}

.website-logo-container {
  width: 100%;
  position: relative;

  color: $color-white;
  cursor: default;

  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.nav-link-container {
  display: flex;
  flex-grow: 5;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav-link {
  width: $header-size;
  height: $header-size;

  &--home {
    color: #fa0000;
  }

  &--projects {
    color: #fac000;
  }

  &--gallery {
    color: #630091;
  }

  &--sourcecode {
    color: #108d00;
  }

  &--linkedin {
    color: #2d76b0;
  }

  &--github {
    color: #000;
  }

  & .nav-svg {
    width: $header-size;
    height: $header-size;

    & .nav-group {
      &__icon {
        fill: $color-black;
        transition: all .45s;
      }

      &__inner-circle {
        fill: transparent;
        transform-origin: 50% 50%;
        transform: scale(.8);
        transition: all .45s;
      }
    }

    &:hover,
    &:active,
    &:focus {
      & .nav-group {

        &__icon {
          fill: $color-white;
          transition: all .2s;
        }

        &__inner-circle {
          fill: currentColor;
          transform: scale(1.1);
          transition: all .2s;
        }
      }
    }
  }
}

.website-logo-inner-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  & .website-logo {
    z-index: 1;
    transition: all .45s;
  }

  & svg {
    width: $header-size;
    height: $header-size;
    z-index: 0;
    position: absolute;
    transform: scale(1.1);
    transform-origin: 50% 50%;
    transition: all .45s;

    & .outer-circle {
      transition: all .45s;
      fill: $color-black;
    }
  }

  &:hover,
  &:active,
  &:focus {
    & .website-logo {
      color: $color-orange;
      transition: all .45s;
    }

    & svg {
      transition: all .45s;
      transform: scale(2);

      & .outer-circle {
        transition: all .45s;
        fill: $color-white;
      }
    }
  }
}