<div class="fragment-writer">
  <div class="fragment-writer__editor">
    @defer {
      <ngx-monaco-editor
        class="fragment-writer__editor__monaco"
        [insideNg]="true"
        [options]="options"
        [model]="options.model!"
        (onInit)="onMonacoInit($event)"
      ></ngx-monaco-editor>
    } @placeholder {
      <div class="fragment-writer__editor__monaco">
        <x-skeleton-loader [loadingMessage]="'Loading Monaco Editor...'"></x-skeleton-loader>
      </div>
    }
    <div class="fragment-writer__editor__controls">
      <div class="control" [style.flex-grow]="1">
        <button mat-flat-button class="button" (click)="tryShaderUpdate()">
          <h1>Run</h1>
        </button>
      </div>
      <div class="control" [style.flex-grow]="2">
        <x-dropdown-menu
          [placeholderLabel]="'Open Example Shader'"
          [initialValue]="selectedShaderProgram()?.name"
          [items]="defaultShaderLinks"
          (onItemSelect)="loadShaderProgram($event)"
        ></x-dropdown-menu>
        <p [style.margin]="'12px'">in</p>
        <mat-button-toggle-group (change)="loadPolicy.set($event.value)" name="example-shader-load-location" aria-label="Choose where to load selected example shaders">
          @for (policy of ALL_LOAD_POLICIES; track policy) {
            <mat-button-toggle [value]="policy" [checked]="loadPolicy() === policy">{{policy}}</mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
      <div class="control">
      </div>
    </div>
  </div>
  <div class="fragment-writer__canvas">
    <x-backdrop [backdrop]="reactiveWebGLBackground"></x-backdrop>
    @if (compilationErrors) {
      <div class="fragment-writer__canvas__overlay">
        <h3>A compilation error has occurred!</h3>
        <br />
        <h3>{{ compilationErrors }}</h3>
      </div>
    }
  </div>
</div>
