$color-white: #fff9f4;
$color-black: #1b120a;

$color-orange: rgb(255, 115, 0);
$color-dark-orange: rgb(177, 80, 0);

body {
  margin: 0;
  padding: 0;
  background-color: rgb(24, 23, 23);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  cursor: pointer;
}