:root {
  /* color palette */
  --primary-color: #FA7921;
  --secondary-color: #942911;
  --tertiary-color: #0D3B66;
  --highlight-color: #f8f4e6;
  --complimentary-color: #B0A3D4;

  --background-color: #181818;

  /* links */
  --link-color: var(--secondary-color);
  --link-hover-color: var(--tertiary-color);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: 'Open Sans', sans-serif;

  min-width: 1000px;
}

a {
  cursor: pointer;
  font-weight: normal;
  color: var(--link-color);

  &:hover,
  &:active,
  &:focus {
    color: var(--link-hover-color);
  }
}