$color-white: #fff9f4;
$color-black: #1b120a;

$link-color: #942911;
$link-hover-color: #0D3B66;

$background-color: #FA7921;

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

a {
  cursor: pointer;
  font-weight: normal;
  color: $link-color;

  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
  }
}