.big_img {
    width: 100%;
    background-image: url("../../assets/img/astrophotography/andromeda_rising.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header {
    color: white;
    font-size: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}