.big_img {
    width: 100%;
    background-image: url("../../assets/img/astrophotography/IMG_5114e2.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-weight: normal;
    font-size: 105px;
    padding: 0;
    margin: 0;
}
h2 {
    font-weight: normal;
    font-size: 20px;
    padding: 0;
    margin: 0;
}